<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Que gato sou eu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Esse gato sou eu</h1>
    </header>
    <main>
        <div class="container">
            <div class="conteudo">
                <form action="/" method="post">
                    <label for="nome">Informe seu nome:</label>
                    <input type="text" id="nome" name="nome">
                    <button type="submit">Enviar</button>
                </form>

                {% if url_imagem %}
                    <img src="{{ url_imagem }}" alt="Imagem do Gato"/>
                    <p>{{ nome }}</p>
                {% elif erro %}
                    <p class="erro">{{ erro }}</p>
                {% else %}
                    <img src="{{ url_for('static', filename='images/placeholder_cat.png') }}" alt="Imagem do gato não encontrada"/>
                {% endif %}
            </div>
        </div>
    </main>
    <footer>
        <p>Desenvolvido por mim</p>
    </footer>
</body>
</html>